/* Box Model Hack */
*, *:before, *:after {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

/* Global */

body {

	font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
	text-align: left;

}

a {
	text-decoration: none;
}

.hide {
	display: none;
}

.socialMediaIcons {
	width: 28px;
	height: 28px;
	float: right;
	display: inline;
	margin: 0 4px;
}

.mainSocialMediaIcons {
	width: 28px;
	height: 28px;
	float: right;
	display: inline;
	padding: 7px 0px;
	margin: 0px 4px;
}

.mainSocialMediaIcons:hover {
	opacity: 0.5;
	filter: alpha(opacity=50); /* For IE8 and earlier */
}


/* Header */

	/* Initial Nav */
	.initialNav {
		width: 100%;
		padding: 10px 0px;
		position: absolute;
		top: 70%;
		background-color: #FFFFFF;
		opacity: 0.6;
		filter: alpha(opacity=60); /* For IE8 and earlier */
	}

	.initialNav:hover {
		opacity: 0.8;
		filter: alpha(opacity=80); /* For IE8 and earlier */
	}

	.initialNavWrapper {
		width: 100%;
		max-width: 1000px;
		min-width: 768px;
		margin: 0 auto;
	}

	.initialNav ul {
		margin: 0;
	}

	.initialNavLogo {
		width: 100%;
		height: 100%;
		max-width: 200px;
		max-height: 26.7px;
		margin-left: 20px;
		padding-top: 2px;
		float: left;
		display: inline-block;
	}

	.initialMenuItem {
		font-weight: 300;
		font-size: 18px;
		color: #000000;
		padding: 0 1.5%;
		display: inline;
		float: left;
		text-decoration: none;
	}

	.initialMenuItem a {
		font-weight: 300;
		font-size: 18px;
		color: #000000;
		padding: 0 1.5%;
		display: inline;
		float: left;
		text-decoration: none;
	}

	.initialMenuItem:first-child {
		margin-left: 3%;
	}

	/* Main Nav */
	.mainNav {
		width: 100%;
		background-color: #FFFFFF;
		float: left;
		padding: 15px 0px 15px 0;
		position: fixed;
		z-index: 10000;
		-o-transition: background .5s ease-in;
  		-ms-transition: background .5s ease-in;
  		-moz-transition: background .5s ease-in;
  		-webkit-transition: background .5s ease-in;
  		transition: background .5s ease-in;
	}

	.mainNavWrapper {
		width: 100%;
		max-width: 1000px;
		min-width: 768px;
		margin: 0 auto;
	}

	.mainNavLogo {
		width: 100%;
		max-width: 200px;
		margin-left: 20px;
		float: left;
		display: inline-block;
	}

	.mainNav ul {
		padding: 0 0;
	}

	.mainMenuItem {
		font-weight: 300;
		font-size: 18px;
		color: #000000;
		padding: 14px 1.5%;
		display: inline;
		float: left;
	}

	.mainMenuItem a {
		font-weight: 300;
		font-size: 18px;
		color: #000000;
	}

	.mainMenuItem:first-child {
		margin-left: 3%;
	}

	#linkedIn {
		margin-right: 20px;
	}

	/* Hero Section */
	.imgCarousel {
		width: 100%;
		height: 100%;
		max-height: 1052px;
		overflow: hidden;
		position: relative;
	}

	.imgCarousel .heroCarousel img {
		width: 100%;
		background-size: cover;
		background-repeat: no-repeat;
		position: relative;
	}

	/* SVG scroll down indicator arrow */
	.arrowScrollDown {
		width: 65px;
		height: 80px;
		position: absolute;
		left: 50%;
		margin-left: -30px;
		bottom: 50px;
	}

	.arrowScrollDown path {
		stroke: #FFFFFF;
		fill: transparent;
		stroke-width: 2px;	
		animation: arrowDown 7s infinite;
		-webkit-animation: arrowDown 7s infinite;
	}

	@keyframes arrowDown
	{
	0% {opacity:0}
	40% {opacity:0.7}
	80% {opacity:0}
	100% {opacity:0}
	}

	@-webkit-keyframes arrowDown /*Safari and Chrome*/
	{
	0% {opacity:0}
	40% {opacity:0.7}
	80% {opacity:0}
	100% {opacity:0}
	}

	.arrowScrollDown path.a1 {
		animation-delay:-1s;
		-webkit-animation-delay:-1s; /* Safari Chrome */
	}

	.arrowScrollDown path.a2 {
		animation-delay:-0.5s;
		-webkit-animation-delay:-0.5s; /* Safari Chrome */
	}

	.arrowScrollDown path.a3 {	
		animation-delay:0s;
		-webkit-animation-delay:0s; /* Safari Chrome */
	}

/* Portfolio Section */
.portfolio {
	background-color: #e7e7e7;
	padding: 100px 0px;
}

.portfolioWrapper {
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
}

.portfolio nav {
	padding-top: 35px;
	padding-bottom: 20px;
}

.portfolio h2 {
	color: #000;
	font-weight: 300;
	font-size: 35px;
	margin-left: 20px;
}

	/* Portfolio Nav */
	.isotopeEntryWrapper {
		width: 100%;
		max-width: 1000px;
	}

	.portfolio ul {
		width: 100%;
		margin: 0 20px auto;
	}

	.portfolio li {
		padding: 0 2.5%;
		margin-left: 0;
		margin-right: 0;
		display: inline;
	}

	.portfolio li:first-child {
		padding-left: 0;
		margin-left: 0;
	}

	.portfolio li:last-child {
		padding-right: 0;
		margin-right: 0;
	}

	.portfolio .subNavItem {
		width: 100%;
		color: #000;
		font-size: 18px;
		font-weight: 300;
		line-height: 50px;
		padding-left: 0.7%;
		padding-bottom: 9px;
		padding-right: 0.7%;
		max-width: 120px;
		display: inline;
		text-decoration: none;
	}

	.portfolio .subNavItem:hover {
		border-bottom: 1px solid black;
	}

	.is-checked,
	.portfolio .subNavItem:active {
		border-bottom: 1px solid black;
	}

	/* ISOTOPE Entries */
	.isotope {
		padding-bottom: 60px;
	}

		/*clearfix*/
		.isotope:after {
			content: '';
			display: block;
			clear: both;
		}

	.portfolioEntries {
		width: 100%;
		max-width: 980px;
		height: 2500px;
		margin: 0 auto;
		padding: 0;
		position: relative;
		overflow: hidden;
	}

	.portfolioEntry {
		position: relative;
		width: 100%;
		max-width: 480px;
		height: 100%;
		max-height: 267px;
		padding: 0;
		margin: 0;
		display: inline;
		background-repeat: no-repeat;
		background-position: top center;
		background-size: cover;
		cursor: pointer;
		text-align: center;
		-o-transition: background .5s ease-in;
  		-ms-transition: background .5s ease-in;
  		-moz-transition: background .5s ease-in;
  		-webkit-transition: background .5s ease-in;
  		transition: background .5s ease-in;
	}

		.portfolioEntry > * {
			margin: 0;
			padding: 0;
		}

	/*Portfolio Entries*/

	.entryOne {
		background-image: url(../img/portfolio_feature/bw/BW_AVON_Feature.jpg);
	}
	.entryOne:hover {
		background-image: url(../img/portfolio_feature/color/AVON_Feature.jpg);
	}
	#entryOneA {
		position: absolute;
		left: 0;
		width: 100%;
		height: 100%;
		margin: 0 auto;
		text-decoration: none;
		outline: none;
	}

	.entryTwo {
		background-image: url(../img/portfolio_feature/bw/BW_IVI_Feature.jpg);
	}
	.entryTwo:hover {
		background-image: url(../img/portfolio_feature/color/IVI_Feature.jpg);
	}
	#entryTwoA {
		position: absolute;
		left: 0;
		width: 100%;
		height: 100%;
		margin: 0 auto;
		text-decoration: none;
		outline: none;
	}

	.entryThree {
		background-image: url(../img/portfolio_feature/bw/BW_Dell_Feature.jpg);
	}
	.entryThree:hover {
		background-image: url(../img/portfolio_feature/color/Dell_Feature.jpg);
	}
	#entryThreeA {
		position: absolute;
		left: 0;
		width: 100%;
		height: 100%;
		margin: 0 auto;
		text-decoration: none;
		outline: none;
	}

	.entryFour {
		background-image: url(../img/portfolio_feature/bw/BW_HSBC_Direct_Mailer_Feature.jpg);
	}
	.entryFour:hover {
		background-image: url(../img/portfolio_feature/color/HSBC_Direct_Mailer_Feature.jpg);
	}
	#entryFourA {
		position: absolute;
		left: 0;
		width: 100%;
		height: 100%;
		margin: 0 auto;
		text-decoration: none;
		outline: none;
	}

	.entryFive {
		background-image: url(../img/portfolio_feature/bw/BW_Hersheys_Kisses_Feature.jpg);
	}
	.entryFive:hover {
		background-image: url(../img/portfolio_feature/color/Hersheys_Kisses_Feature.jpg);
	}
	#entryFiveA {
		position: absolute;
		left: 0;
		width: 100%;
		height: 100%;
		margin: 0 auto;
		text-decoration: none;
		outline: none;
	}

	.entrySix {
		background-image: url(../img/portfolio_feature/bw/BW_SM_Feature.jpg);
	}
	.entrySix:hover {
		background-image: url(../img/portfolio_feature/color/SM_Feature.jpg);
	}
	#entrySixA {
		position: absolute;
		left: 0;
		width: 100%;
		height: 100%;
		margin: 0 auto;
		text-decoration: none;
		outline: none;
	}

	.entrySeven {
		background-image: url(../img/portfolio_feature/bw/BW_Lee_Feature.jpg);
	}
	.entrySeven:hover {
		background-image: url(../img/portfolio_feature/color/Lee_Feature.jpg);
	}
	#entrySevenA {
		position: absolute;
		left: 0;
		width: 100%;
		height: 100%;
		margin: 0 auto;
		text-decoration: none;
		outline: none;
	}

	.entryEight {
		background-image: url(../img/portfolio_feature/bw/BW_Stef_Gonzaga_Feature.jpg);
	}
	.entryEight:hover {
		background-image: url(../img/portfolio_feature/color/Stef_Gonzaga_Feature.jpg);
	}
	#entryEightA {
		position: absolute;
		left: 0;
		width: 100%;
		height: 100%;
		margin: 0 auto;
		text-decoration: none;
		outline: none;
	}

	.entryNine {
		background-image: url(../img/portfolio_feature/bw/BW_Bates_Feature.jpg);
	}
	.entryNine:hover {
		background-image: url(../img/portfolio_feature/color/Bates_Feature.jpg);
	}
	#entryNineA {
		position: absolute;
		left: 0;
		width: 100%;
		height: 100%;
		margin: 0 auto;
		text-decoration: none;
		outline: none;
	}

	.entryTen {
		background-image: url(../img/portfolio_feature/bw/BW_CAVFI_Dundee_Feature.jpg);
	}
	.entryTen:hover {
		background-image: url(../img/portfolio_feature/color/CAVFI_Dundee_Feature.jpg);
	}
	#entryTenA {
		position: absolute;
		left: 0;
		width: 100%;
		height: 100%;
		margin: 0 auto;
		text-decoration: none;
		outline: none;
	}

	.entryEleven {
		background-image: url(../img/portfolio_feature/bw/BW_Yishion_Feature.jpg);
	}
	.entryEleven:hover {
		background-image: url(../img/portfolio_feature/color/Yishion_Feature.jpg);
	}
	#entryElevenA {
		position: absolute;
		left: 0;
		width: 100%;
		height: 100%;
		margin: 0 auto;
		text-decoration: none;
		outline: none;
	}

	.entryTwelve {
		background-image: url(../img/portfolio_feature/bw/BW_HSBC_Feature.jpg);
	}
	.entryTwelve:hover {
		background-image: url(../img/portfolio_feature/color/HSBC_Feature.jpg);
	}
	#entryTwelveA {
		position: absolute;
		left: 0;
		width: 100%;
		height: 100%;
		margin: 0 auto;
		text-decoration: none;
		outline: none;
	}

	.entryThirteen {
		background-image: url(../img/portfolio_feature/bw/BW_Unilab_Feature.jpg);
	}
	.entryThirteen:hover {
		background-image: url(../img/portfolio_feature/color/Unilab_Feature.jpg);
	}
	#entryThirteenA {
		position: absolute;
		left: 0;
		width: 100%;
		height: 100%;
		margin: 0 auto;
		text-decoration: none;
		outline: none;
	}

	.entryFourteen {
		background-image: url(../img/portfolio_feature/bw/BW_Wacoal_Feature.jpg);
	}
	.entryFourteen:hover {
		background-image: url(../img/portfolio_feature/color/Wacoal_Feature.jpg);
	}
	#entryFourteenA {
		position: absolute;
		left: 0;
		width: 100%;
		height: 100%;
		margin: 0 auto;
		text-decoration: none;
		outline: none;
	}

	.entryFifteen {
		background-image: url(../img/portfolio_feature/bw/BW_UPSSAA_Feature.jpg);
	}
	.entryFifteen:hover {
		background-image: url(../img/portfolio_feature/color/UPSSAA_Feature.jpg);
	}
	#entryFifteenA {
		position: absolute;
		left: 0;
		width: 100%;
		height: 100%;
		margin: 0 auto;
		text-decoration: none;
		outline: none;
	}



/* About Section */
.about {
	background-color: #FFFFFF;
}

.aboutHeroWrapper {
	width: 100%;
	max-width: 1000px;
	color: #7e7e7e;
	margin: 0 auto;
}

.aboutWrapper {
	width: 100%;
	max-width: 1000px;
	min-width: 768px;
	color: #7e7e7e;
	margin: 0 auto;
}

.aboutHero {
	background-color: #000000;
}

	/* Hero Image */
	.aboutHeroImage {

	}

	.aboutHeroImage img {
		width: 100%;
		height: 100%;
		max-width: 1000px;
		background-size: cover;
		background-repeat: no-repeat;
		position: relative;
	}

	.aboutHero h2 {
		color: #FFFFFF;
		font-weight: 300;
		font-size: 35px;
		padding: 80px 0px 40px 0;
		position: relative;
		top: 30px;
		margin: 0 20px;
	}

	/* Description */
	.aboutDescription {
		padding: 30px 0;
		-webkit-column-count: 3;
		-moz-column-count: 3;
  		column-count: 3;
  		margin: 0 20px;
	}

	.aboutDescription p {
		font-weight: 300;
		font-size: 18px;
		line-height: 30px;
	}

	/* Accounts */
	.aboutAccounts {
		padding-top: 0;
		padding-bottom: 30px;
	}

	.aboutSubheadWrapper {
		width: 100%;
		max-width: 1000px;
		min-width: 320px;
		display: block;
		margin: 0 auto;
	}

	.aboutSubHead {
		width: 100%;
		max-width: 960px;
		font-size: 18px;
		font-weight: 600;
		letter-spacing: 1.5px;
		border-top: 1px solid #DEDEDE;
		padding-top: 20px;
		margin-right: 20px;
		margin-left: 20px;
	}

	.accountsList {
		margin-top: 20px;
		margin-right: 20px;
		margin-bottom: 30px;
		margin-left: 20px;
		-webkit-column-count: 3;
		-moz-column-count: 3;
  		column-count: 3;
		list-style-type: square;
		list-style-position: inside;
	}

	.accountsList li {
		font-size: 18px;
		font-weight: 300;
		line-height: 35px;
	}

/* Contact */
.contact {
	background-color: #e7e7e7;
	padding: 70px 0px;
}

.contactWrapper {
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
}

.contact h2 {
	color: #000;
	font-weight: 300;
	font-size: 35px;
	padding-top: 30px;
	padding-bottom: 40px;
	margin-left: 20px;
	text-align: left;
}

.contact h3 {
	color: #000;
	font-weight: 300;
	font-size: 25px;
	padding: 10px 0px;
	margin: 0 auto;
	text-align: left;
}

	/* Contact Info */
	.contactInfo {
		max-width: 50%;
		float: left;
		margin-left: 20px;
		text-align: left;
	}

	.contact p {
		font-size: 18px;
		font-weight: 300;
		line-height: 22px;
		color: #000000;
		padding: 5px 0px;
		text-align: left;
	}

	/* Contact Form */
	.wufooContactFormWrap {
		width: 100%;
		max-width: 500px;
		min-width: 320px;
		margin: 0;
		display: inline-block;
		text-align: left;
		float: right;
	}

	

/* Footer */
footer {
	background-color: #e7e7e7;
	border-top: 1px solid #000000;
	padding-top: 20px;
	padding-bottom: 50px;
	overflow: auto;
}

footer nav {
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
}

.footerNavWrap {
	width: 100%;
	max-width: 300px;
	padding: 20px 0;
	margin: 0 auto;
}

.footerMenuItem {
	color: #000000;
	font-size: 18px;
	font-weight: 300;
	text-decoration: none;
	display: inline;
	padding: 3% 5%;
	margin-left: 1.8%;
}

.footerMenuItem a {
	color: #000000;
	font-size: 18px;
	font-weight: 300;
	display: inline;
	padding: 1% 1%;
}

.footerMenuItem a:hover {
	color: #555;
	text-decoration: none;
}

.footerLogo {
	width: 100%;
	max-width: 227px;
	padding: 25px 0px;
	margin: 0 auto;
}

.footerLogo img {
	width: 100%;
}

footer .footerIconGroup {
	width: 120px;
	margin: 0 auto;
}

.footerIcons {
	width: 28px;
	height: 28px;
	display: inline;
	padding: 7px 0px;
	margin: 0px 4px;
}

.footerIcons:hover {
	opacity: 0.8;
	filter: alpha(opacity=80); /* For IE8 and earlier */
}

.copyright {
	text-align: center;
	color: #000;
	padding: 40px 0 0 0;
}






/* RESPONSIVE - MOBILE & LAPTOP */

/* 782px to 800px wide */
@media screen and (min-width: 920px) and (max-width: 1057px) {

/* Header */

	/* Initial Nav - Adjusting min-width to 320px and max-width to 1057px */
	.initialNavWrapper {
		max-width: 1057px;
		min-width: 320px;
	}

	/* Main Nav - Adjusting min-width to 320px and max-width to 1057px */
	.mainNavWrapper {
		max-width: 1055px;
		min-width: 320px;
	}

	/* SVG scroll down indicator arrow moved to 5px from bottom */
	.arrowScrollDown {
		bottom: 5px;
	}

}

/* 782px to 800px wide */
@media screen and (min-width: 780px) and (max-width: 919px) {

/* Header */

	/* Initial Nav - Adjusting min-width to 320px and max-width to 1057px */
	.initialNavWrapper {
		max-width: 920px;
		min-width: 320px;
	}

	/* Main Nav - Adjusting min-width to 320px and max-width to 1057px */
	.mainNavWrapper {
		max-width: 920px;
		min-width: 320px;
	}

	/* SVG scroll down indicator arrow moved to 5px from bottom */
	.arrowScrollDown {
		display: none;
	}

/* ABOUT */

	/* Description - Adjust to 2 columns */
	.aboutDescription {
		-webkit-column-count: 2;
		-moz-column-count: 2;
  		column-count: 2;
	}
	/* Accounts - Adjust to 2 columns */

	.accountsList {
		-webkit-column-count: 2;
		-moz-column-count: 2;
  		column-count: 2;
	}

}


